.login {
  background-color: #18202b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login__sub {
  display: flex;
  width: 50%;
  height: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  object-fit: contain;
  height: 50vh;
}

.login__heading {
  font-size: 3rem;
  color: #d5d5d5;
}

.login__btn {
  width: 10rem;
  height: 3rem;
  margin-top: 200px;
}

.login__btn:hover {
  font-size: 1rem;
  border: 5px solid #18202b ;
}
